.contact {
    padding: 3em 1em;
    background-color: var(--dark-color);
    color: var(--light-color);

    section {
        max-width: 75ch;
        margin: auto;
    }

    .contact__title {
        margin-bottom: .5em;
        font-size: 2rem;
        font-weight: 600;
    }

    .contact__link {
        display: inline-flex;
        align-items: center;
        gap: 1em;
        margin-bottom: .5em;
    }
}