@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-italic.ttf');
    font-display: swap;
    font-style: italic;
}

/**
 * Reset
 */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

html {
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: currentColor;
    cursor: pointer;
}

/**
 * Tokens
 */
:root {
    --unit: 1rem;
    --dark-color: #191919;
    --light-color: #fafafa;
    --border-color: #ececec;
}

/**
 * Common styles
 */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: var(--light-color);
}

.icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
}

/**
 * Index
 */
.navigation {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(5 * var(--unit));
    width: 100dvw;
    padding: 0 calc(5 * var(--unit));
    border-bottom: 1px solid var(--border-color);
    background-color: var(--light-color);

    .navigation__logo-link {
        display: contents;
    }

    .navigation__logo {
        height: 100%;
        width: 5rem;
    }

    .navigation__link-list {
        display: flex;
        align-items: center;
        gap: calc(2 * var(--unit));
        font-weight: 600;
    }
}

.language-selector {
    width: 15ch;
    border: 1px solid var(--dark-color);
    padding: 0;
    background-color: var(--light-color);

    &,
    &::picker(select) {
        appearance: base-select;
    }

    &::picker-icon {
        display: none;
    }

    &:open {
        .language-selector__picker-icon {
            transform: rotate(.5turn);
        }

        &::picker {
            height: auto;
        }
    }

    .language-selector__picker-icon {
        font-size: .75em;
        transition: transform .15s ease-in-out;
    }

    &::picker(select) {
        border-radius: .33rem;
        background-color: var(--light-color);
        transform: translateY(.33rem);
    }

    .language-selector__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: .5rem;
        padding: .5rem .75rem;
        cursor: pointer;
    }

    .language-selector__option {
        display: flex;
        padding-block: .33rem;
        padding-inline: .5rem;
    }
}

@supports not (appearance: base-select) {
    .language-selector {
        padding: .5rem .75rem;
        border-radius: .33rem;
        cursor: pointer;
    }
}

.hero {
    display: flex;
    height: 100dvh;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    .hero__name {
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: .033em;
    }

    .hero__title {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

/**
 * Main
 */
.main {
    max-width: 75ch;
    padding: 3em 1em;
    margin: auto;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    h2 {
        margin-bottom: 1em;
        font-size: 2rem;
        font-weight: 600;
    }

    section+section {
        margin-top: 5rem;
    }
}

.about,
.projects {
    scroll-margin-block-start: 7.5rem;
}

.projects {
    .projects__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
        gap: 2em;
        padding: 0;
        list-style-type: none;
    }

    .projects__ignore {
        display: contents;
    }

    .projects__item {
        display: block;
        padding: 2em;
        border: 1px solid var(--border-color);
        border-radius: .33rem;
        text-decoration: none;
    }

    .projects__keywords {
        margin-bottom: 1em;
        font-style: italic;
    }
}

.contact {
    padding: 3em 1em;
    background-color: var(--dark-color);
    color: var(--light-color);

    section {
        max-width: 75ch;
        margin: auto;
    }

    .contact__title {
        margin-bottom: .5em;
        font-size: 2rem;
        font-weight: 600;
    }

    .contact__link {
        display: inline-flex;
        align-items: center;
        gap: 1em;
        margin-bottom: .5em;
    }
}